.footer {
    color: #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 0.5rem 1rem;
    background: #ECB8B6;
}
.footer a {
    color: #e4e4e4;
}
.footer a :hover {
    color: #e44c56;
}

.centered-container {
    width: 100%;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    /* gap: 0.8rem; */
}

.icon-container * {
    height: 1.5em;
    width: 1.5em;
}

.copyright {
    font-size: 12px;
    text-align: center;
}